In [1]:
import os
import fiona
import numpy as np
import pandas as pd
import geopandas as gpd 
import rasterio as rio
import rasterio.mask
import matplotlib.pyplot as plt
from rasterio.merge import merge
from rasterio.plot import show
from rasterstats import zonal_stats

## Reclassifying and merging flood zones

### 1 in 100 year Floodzones

In [2]:
#reclassifying fluvial 1 in 100 year flood zones into two classes
src = rio.open("../data/Floodzones/FlExtent_fluvial_1in100.tif")
# show(src)
data = src.read()

#checking nodata pixel value before masking
nodata_value = src.nodata 
#print("Nodata value:", nodata_value)

# Create a masked array where nodata values are masked 
masked_data = np.ma.masked_where(data == nodata_value, data) 
lista = masked_data.copy()

#checking min and max pixel values after masking 
print (np.amin(masked_data))
print (np.amax(masked_data))

lista[np.where((lista >=1) & (lista <=254))] = 1 #floodzone
lista[np.where((lista == 0))] = 0 #non flood zone
#lista[np.where((lista == 255))] = np.nan #NoData, no need to classify nodata as it is already masked 

#lista = lista.astype(int)

with rasterio.open("../data/Floodzones/reclassified_FlExtent_fluvial_1in100.tif", "w",
                  driver = src.driver, 
                  height = src.height, 
                  width = src.width, 
                  count = src.count,
                  crs = src.crs,
                  transform = src.transform,
                  dtype = masked_data.dtype
                  ) as dst:
    dst.write(lista)

0
254

In [3]:
#repeating for pluvial_1in100 year flood zones into two classes
src1 = rio.open("../data/Floodzones/FlExtent_pluvial_1in100.tif")
#show(src1)
data1 = src1.read()

#checking nodata pixel value before masking
nodata_value1 = src1.nodata 
#print("Nodata value:", nodata_value)

# Create a masked array where nodata values are masked 
masked_data1 = np.ma.masked_where(data1 == nodata_value1, data1) 
lista1 = masked_data1.copy()

#checking min and max pixel values after masking 
print (np.amin(masked_data1))
print (np.amax(masked_data1))

lista1[np.where((lista1 >=1) & (lista1 <=254))] = 1 #floodzone
lista1[np.where(lista1 == 0)] = 0 #non flood zone
#lista1[np.where((lista1 == 255))] =  np.nan #NoData

with rasterio.open("../data/Floodzones/reclassified_FlExtent_pluvial_1in100.tif", "w",
                  driver = src1.driver, 
                  height = src1.height, 
                  width = src1.width, 
                  count = src1.count,
                  crs = src1.crs,
                  transform = src1.transform,
                  dtype = masked_data1.dtype
                  ) as dst1:
    dst1.write(lista1)

0
254

In [4]:
# combining class 1 from two rasters
dataset1 = rio.open("../data/Floodzones/reclassified_FlExtent_fluvial_1in100.tif")
dataset2 = rio.open("../data/Floodzones/reclassified_FlExtent_pluvial_1in100.tif")

merged, output_transform = rio.merge.merge([dataset1, dataset2])

with rasterio.open("../data/Floodzones/reclassified_FlExtent_fluvial_1in100.tif") as src:
        out_meta = src.meta.copy()
        
out_meta.update({"driver": "GTiff",
                 "height": merged.shape[1],
                 "width": merged.shape[2],
                 "transform": output_transform})

with rasterio.open("../data/Floodzones/merged_1in100.tif", "w",  **out_meta
                ) as dst2:
        dst2.write(merged)

### 1 in 500 year Floodzones

In [5]:
#reclassifying fluvial 1 in 500 year flood zones into two classes
src2 = rio.open("../data/Floodzones/FlExtent_fluvial_1in500.tif")
# show(src)
data2 = src2.read()

#checking nodata pixel value before masking
nodata_value2 = src2.nodata 
#print("Nodata value:", nodata_value)

# Create a masked array where nodata values are masked 
masked_data2 = np.ma.masked_where(data2 == nodata_value2, data2) 
lista2 = masked_data2.copy()

#checking min and max pixel values after masking 
print (np.amin(masked_data2))
print (np.amax(masked_data2))

lista2[np.where((lista2 >=1) & (lista2 <=254))] = 1 #floodzone
lista2[np.where((lista2 == 0))] = 0 #non flood zone
#lista2[np.where((lista2 == 255))] = np.nan #NoData, no need to classify nodata as it is already masked 

with rasterio.open("../data/Floodzones/reclassified_FlExtent_fluvial_1in500.tif", "w",
                  driver = src2.driver, 
                  height = src2.height, 
                  width = src2.width, 
                  count = src2.count,
                  crs = src2.crs,
                  transform = src2.transform,
                  dtype = masked_data2.dtype
                  ) as dst2:
    dst2.write(lista2)

0
254

In [6]:
#reclassifying fluvial 1 in 100 year flood zones into two classes
src3 = rio.open("../data/Floodzones/FlExtent_pluvial_1in500.tif")
# show(src3)
data3 = src3.read()

#checking nodata pixel value before masking
nodata_value3 = src3.nodata 
#print("Nodata value:", nodata_value)

# Create a masked array where nodata values are masked 
masked_data3 = np.ma.masked_where(data3 == nodata_value3, data3) 
lista3 = masked_data3.copy()

#checking min and max pixel values after masking 
print (np.amin(masked_data3))
print (np.amax(masked_data3))

lista3[np.where((lista3 >=1) & (lista3 <=254))] = 1 #floodzone
lista3[np.where((lista3 == 0))] = 0 #non flood zone
#lista3[np.where((lista3 == 255))] = np.nan #NoData, no need to classify nodata as it is already masked 

with rasterio.open("../data/Floodzones/reclassified_FlExtent_pluvial_1in500.tif", "w",
                  driver = src3.driver, 
                  height = src3.height, 
                  width = src3.width, 
                  count = src3.count,
                  crs = src3.crs,
                  transform = src3.transform,
                  dtype = masked_data3.dtype
                  ) as dst3:
    dst3.write(lista3)

0
254

In [7]:
# combining class 1 from two rasters
dataset3 = rio.open("../data/Floodzones/reclassified_FlExtent_fluvial_1in500.tif")
dataset4 = rio.open("../data/Floodzones/reclassified_FlExtent_pluvial_1in500.tif")

merged, output_transform = rio.merge.merge([dataset3, dataset4])

with rasterio.open("../data/Floodzones/reclassified_FlExtent_fluvial_1in500.tif") as src:
        out_meta = src.meta.copy()
        
out_meta.update({"driver": "GTiff",
                 "height": merged.shape[1],
                 "width": merged.shape[2],
                 "transform": output_transform})

with rasterio.open("../data/Floodzones/merged_1in500.tif", "w",  **out_meta
                ) as dst4:
        dst4.write(merged)

### Zonal Statistics for Zipcodes in FL

#### 1 in 100

In [8]:
#zonal statistics
# zipcode data downloaded from: https://www.census.gov/cgi-bin/geo/shapefiles/index.php?year=2022&layergroup=ZIP+Code+Tabulation+Areas
stats = zonal_stats('../data/zipcodeboundary/zipcodeBoundaryFL.shp', 
                    '../data/Floodzones/merged_1in100.tif', 
                    stats=['count', 'sum'], 
                    geojson_out=True,
                    categorical=True)

C:\Users\aadyab\AppData\Local\anaconda3\envs\env1\lib\site-packages\rasterstats\io.py:328: NodataWarning: Setting nodata to -999; specify nodata explicitly
  warnings.warn(

In [9]:
#extracting zonal stats only from the list
FL_ratio =  []

i = 0

while i < len(stats):
    FL_ratio.append((stats[i]['properties']))
    i = i + 1

In [10]:
#converting the statistics and attribute data into dataframe
df = pd.DataFrame(FL_ratio)
print (df.head())

#calculating ratio of floodzone
df['1in100'] = df[1]/(df[1] + df[0])
df.drop([0,1,63, 'count', 'sum'],axis=1, inplace = True)
#df.head()

  ZCTA5CE20 GEOID20 CLASSFP20 MTFCC20 FUNCSTAT20     ALAND20    AWATER20  \
0     34210   34210        B5   G6350          S  23017418.0  26292447.0
1     33010   33010        B5   G6350          S  11192368.0    164233.0
2     33919   33919        B5   G6350          S  22658042.0   6915450.0
3     33461   33461        B5   G6350          S  18418467.0   1128555.0
4     33605   33605        B5   G6350          S  20307052.0   3682174.0

    INTPTLAT20    INTPTLON20  Shape_Leng  Shape_Area        0       1  \
0  +27.4375477  -082.6301776    0.392643    0.004501  24977.0  3194.0
1  +25.8332017  -080.2787199    0.199796    0.001022   9819.0  3430.0
2  +26.5558907  -081.9028554    0.261206    0.002679  24060.0  4254.0
3  +26.6185821  -080.0932157    0.240485    0.001772  16710.0  5374.0
4  +27.9510524  -082.4296347    0.291570    0.002193  21419.0  3331.0

        63  count        sum
0  30183.0  58354  1904723.0
1     19.0  13268     4627.0
2   6407.0  34721   407895.0
3    893.0  22977    61633.0
4   3642.0  28392   232777.0

In [11]:
shapefile = gpd.read_file('../data/zipcodeboundary/zipcodeBoundaryFL.shp')
#shapefile.head()

In [12]:
#merging 1 in 100 floodzone ratio into original zipcode boundary file
shapefile = shapefile.merge(df[['GEOID20','1in100']], on = 'GEOID20', how = 'left')
shapefile.head()

,ZCTA5CE20,GEOID20,CLASSFP20,MTFCC20,FUNCSTAT20,ALAND20,AWATER20,INTPTLAT20,INTPTLON20,Shape_Leng,Shape_Area,geometry,1in100
0,34210,34210,B5,G6350,S,23017418.0,26292447.0,+27.4375477,-082.6301776,0.392643,0.004501,"POLYGON ((-82.60410 27.46737, -82.60410 27.467...",0.113379
1,33010,33010,B5,G6350,S,11192368.0,164233.0,+25.8332017,-080.2787199,0.199796,0.001022,"POLYGON ((-80.27856 25.85130, -80.27659 25.851...",0.258887
2,33919,33919,B5,G6350,S,22658042.0,6915450.0,+26.5558907,-081.9028554,0.261206,0.002679,"POLYGON ((-81.89077 26.59651, -81.89080 26.596...",0.150244
3,33461,33461,B5,G6350,S,18418467.0,1128555.0,+26.6185821,-080.0932157,0.240485,0.001772,"POLYGON ((-80.07217 26.63395, -80.06876 26.633...",0.243344
4,33605,33605,B5,G6350,S,20307052.0,3682174.0,+27.9510524,-082.4296347,0.291570,0.002193,"POLYGON ((-82.43571 27.90303, -82.43620 27.903...",0.134586

#### Zonal Statistics for 1 in 500

In [13]:
#zonal statistics
stats1 = zonal_stats(shapefile, 
                    '../data/Floodzones/merged_1in500.tif', 
                    stats=['count', 'sum'], 
                    geojson_out=True,
                    categorical=True)

In [14]:
#extracting zonal stats only from the list
FL_ratio1 =  []

i = 0

while i < len(stats1):
    FL_ratio1.append((stats1[i]['properties']))
    i = i + 1

In [15]:
#converting the statistics and attribute data into dataframe
df1 = pd.DataFrame(FL_ratio1)
#print (df1.head())

#calculating ratio of floodzone
df1['1in500'] = df1[1]/(df1[1] + df1[0])
df1.drop([0,1,63, 'count', 'sum'],axis=1, inplace = True)
df1.head()

,ZCTA5CE20,GEOID20,CLASSFP20,MTFCC20,FUNCSTAT20,ALAND20,AWATER20,INTPTLAT20,INTPTLON20,Shape_Leng,Shape_Area,1in100,1in500
0,34210,34210,B5,G6350,S,23017418.0,26292447.0,+27.4375477,-082.6301776,0.392643,0.004501,0.113379,0.222640
1,33010,33010,B5,G6350,S,11192368.0,164233.0,+25.8332017,-080.2787199,0.199796,0.001022,0.258887,0.508645
2,33919,33919,B5,G6350,S,22658042.0,6915450.0,+26.5558907,-081.9028554,0.261206,0.002679,0.150244,0.245144
3,33461,33461,B5,G6350,S,18418467.0,1128555.0,+26.6185821,-080.0932157,0.240485,0.001772,0.243344,0.415006
4,33605,33605,B5,G6350,S,20307052.0,3682174.0,+27.9510524,-082.4296347,0.291570,0.002193,0.134586,0.202821

In [16]:
#merging 1 in 500 floodzone ratio into original zipcode boundary file
final_shapefile = shapefile.merge(df1[['GEOID20','1in500']], on = 'GEOID20', how = 'left')
final_shapefile.head()

,ZCTA5CE20,GEOID20,CLASSFP20,MTFCC20,FUNCSTAT20,ALAND20,AWATER20,INTPTLAT20,INTPTLON20,Shape_Leng,Shape_Area,geometry,1in100,1in500
0,34210,34210,B5,G6350,S,23017418.0,26292447.0,+27.4375477,-082.6301776,0.392643,0.004501,"POLYGON ((-82.60410 27.46737, -82.60410 27.467...",0.113379,0.222640
1,33010,33010,B5,G6350,S,11192368.0,164233.0,+25.8332017,-080.2787199,0.199796,0.001022,"POLYGON ((-80.27856 25.85130, -80.27659 25.851...",0.258887,0.508645
2,33919,33919,B5,G6350,S,22658042.0,6915450.0,+26.5558907,-081.9028554,0.261206,0.002679,"POLYGON ((-81.89077 26.59651, -81.89080 26.596...",0.150244,0.245144
3,33461,33461,B5,G6350,S,18418467.0,1128555.0,+26.6185821,-080.0932157,0.240485,0.001772,"POLYGON ((-80.07217 26.63395, -80.06876 26.633...",0.243344,0.415006
4,33605,33605,B5,G6350,S,20307052.0,3682174.0,+27.9510524,-082.4296347,0.291570,0.002193,"POLYGON ((-82.43571 27.90303, -82.43620 27.903...",0.134586,0.202821

In [17]:
#type (final_shapefile)

In [18]:
# exporting geodataframe to zipcode shapefile
final_shapefile.to_file('../data/Floodzones/zipcode_floodzoneratio.shp')

### Zonal Statistics for Neighborhoods in FL

#### 1 in 100

In [19]:
#zonal statistics
stats = zonal_stats('../data/neighborhoodboundary/neighborhood_FL.shp', 
                    '../data/Floodzones/merged_1in100.tif', 
                    stats=['count', 'sum'], 
                    geojson_out=True,
                    categorical=True)

In [20]:
#extracting zonal stats only from the list
FL_ratio =  []

i = 0

while i < len(stats):
    FL_ratio.append((stats[i]['properties']))
    i = i + 1

In [21]:
#converting the statistics and attribute data into dataframe
df = pd.DataFrame(FL_ratio)
#print (df.head())

#calculating ratio of floodzone
df['1in100'] = df[1]/(df[1] + df[0])
df.drop([0,1,63, 'count', 'sum'],axis=1, inplace = True)
df.head()

,State,County,City,Name,RegionID,Shape_Leng,Shape_Area,1in100
0,FL,Orange,Orlando,Alafaya,15046,0.551708,0.009048,0.219424
1,FL,Broward,Hollywood,Hillcrest,25125,0.055430,0.000146,0.240506
2,FL,Miami-Dade,Miami,Brickell,55477,0.086324,0.000260,0.112576
3,FL,Pasco,New Port Richey,North Park,116942,0.039007,0.000065,0.083825
4,FL,Volusia,New Smyrna Beach,South West,121790,0.100864,0.000253,0.281463

In [22]:
shapefile = gpd.read_file('../data/neighborhoodboundary/neighborhood_FL.shp')
#shapefile.head()

In [23]:
#merging 1 in 100 floodzone ratio into original neighborhood boundary file
shapefile = shapefile.merge(df[['RegionID','1in100']], on = 'RegionID', how = 'left')
shapefile.head()

,State,County,City,Name,RegionID,Shape_Leng,Shape_Area,geometry,1in100
0,FL,Orange,Orlando,Alafaya,15046,0.551708,0.009048,"POLYGON ((-81.11414 28.47162, -81.11413 28.471...",0.219424
1,FL,Broward,Hollywood,Hillcrest,25125,0.055430,0.000146,"POLYGON ((-80.19527 25.99527, -80.19519 25.997...",0.240506
2,FL,Miami-Dade,Miami,Brickell,55477,0.086324,0.000260,"POLYGON ((-80.19729 25.76873, -80.19681 25.768...",0.112576
3,FL,Pasco,New Port Richey,North Park,116942,0.039007,0.000065,"POLYGON ((-82.70738 28.25927, -82.70726 28.259...",0.083825
4,FL,Volusia,New Smyrna Beach,South West,121790,0.100864,0.000253,"POLYGON ((-80.93372 29.01789, -80.93372 29.018...",0.281463

#### Zonal Statistics for 1 in 500

In [24]:
#zonal statistics
stats1 = zonal_stats(shapefile, 
                    '../data/Floodzones/merged_1in500.tif', 
                    stats=['count', 'sum'], 
                    geojson_out=True,
                    categorical=True)

In [25]:
#extracting zonal stats only from the list
FL_ratio1 =  []

i = 0

while i < len(stats1):
    FL_ratio1.append((stats1[i]['properties']))
    i = i + 1

In [26]:
#converting the statistics and attribute data into dataframe
df1 = pd.DataFrame(FL_ratio1)
#print (df1.head())

#calculating ratio of floodzone
df1['1in500'] = df1[1]/(df1[1] + df1[0])
df1.drop([0,1,63, 'count', 'sum'],axis=1, inplace = True)
df1.head()

,State,County,City,Name,RegionID,Shape_Leng,Shape_Area,1in100,1in500
0,FL,Orange,Orlando,Alafaya,15046,0.551708,0.009048,0.219424,0.285221
1,FL,Broward,Hollywood,Hillcrest,25125,0.055430,0.000146,0.240506,0.363973
2,FL,Miami-Dade,Miami,Brickell,55477,0.086324,0.000260,0.112576,0.175456
3,FL,Pasco,New Port Richey,North Park,116942,0.039007,0.000065,0.083825,0.087470
4,FL,Volusia,New Smyrna Beach,South West,121790,0.100864,0.000253,0.281463,0.471792

In [27]:
#merging 1 in 500 floodzone ratio into original zipcode boundary file
final_shapefile = shapefile.merge(df1[['RegionID','1in500']], on = 'RegionID', how = 'left')
final_shapefile.head()

,State,County,City,Name,RegionID,Shape_Leng,Shape_Area,geometry,1in100,1in500
0,FL,Orange,Orlando,Alafaya,15046,0.551708,0.009048,"POLYGON ((-81.11414 28.47162, -81.11413 28.471...",0.219424,0.285221
1,FL,Broward,Hollywood,Hillcrest,25125,0.055430,0.000146,"POLYGON ((-80.19527 25.99527, -80.19519 25.997...",0.240506,0.363973
2,FL,Miami-Dade,Miami,Brickell,55477,0.086324,0.000260,"POLYGON ((-80.19729 25.76873, -80.19681 25.768...",0.112576,0.175456
3,FL,Pasco,New Port Richey,North Park,116942,0.039007,0.000065,"POLYGON ((-82.70738 28.25927, -82.70726 28.259...",0.083825,0.087470
4,FL,Volusia,New Smyrna Beach,South West,121790,0.100864,0.000253,"POLYGON ((-80.93372 29.01789, -80.93372 29.018...",0.281463,0.471792

In [28]:
# exporting geodataframe to neighborhood shapefile
final_shapefile.to_file('../data/Floodzones/neighborhood_floodzoneratio.shp')

### Zonal Statistics for Counties in FL

#### 1 in 100

In [29]:
#zonal statistics
stats = zonal_stats('../data/FL_county.shp', 
                    '../data/Floodzones/merged_1in100.tif', 
                    stats=['count', 'sum'], 
                    geojson_out=True,
                    categorical=True)

In [30]:
#extracting zonal stats only from the list
FL_ratio =  []

i = 0

while i < len(stats):
    FL_ratio.append((stats[i]['properties']))
    i = i + 1

In [31]:
#converting the statistics and attribute data into dataframe
df = pd.DataFrame(FL_ratio)
#print (df.head())

#calculating ratio of floodzone
df['1in100'] = df[1]/(df[1] + df[0])
df.drop([0,1,63, 'count', 'sum'],axis=1, inplace = True)
df.head()

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,NAMELSAD,STUSPS,STATE_NAME,LSAD,ALAND,AWATER,1in100
0,12,095,00295750,0500000US12095,12095,Orange,Orange County,FL,Florida,06,2338519047,260364621,0.242544
1,12,125,00306913,0500000US12125,12125,Union,Union County,FL,Florida,06,630804541,16049423,0.256971
2,12,069,00308551,0500000US12069,12069,Lake,Lake County,FL,Florida,06,2464981507,531018779,0.249158
3,12,127,00306921,0500000US12127,12127,Volusia,Volusia County,FL,Florida,06,2852382099,857613983,0.347285
4,12,105,00295747,0500000US12105,12105,Polk,Polk County,FL,Florida,06,4656518803,550424838,0.250454

In [32]:
shapefile = gpd.read_file('../data/FL_county.shp')
#shapefile.head()

In [33]:
#merging 1 in 100 floodzone ratio into original FL county boundary file
shapefile = shapefile.merge(df[['GEOID','1in100']], on = 'GEOID', how = 'left')
shapefile.head()

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,NAMELSAD,STUSPS,STATE_NAME,LSAD,ALAND,AWATER,geometry,1in100
0,12,095,00295750,0500000US12095,12095,Orange,Orange County,FL,Florida,06,2338519047,260364621,"POLYGON ((-81.65856 28.74583, -81.65860 28.766...",0.242544
1,12,125,00306913,0500000US12125,12125,Union,Union County,FL,Florida,06,630804541,16049423,"POLYGON ((-82.57599 29.99086, -82.57355 29.993...",0.256971
2,12,069,00308551,0500000US12069,12069,Lake,Lake County,FL,Florida,06,2464981507,531018779,"POLYGON ((-81.95616 28.41358, -81.95607 28.414...",0.249158
3,12,127,00306921,0500000US12127,12127,Volusia,Volusia County,FL,Florida,06,2852382099,857613983,"POLYGON ((-81.68090 29.32443, -81.65810 29.329...",0.347285
4,12,105,00295747,0500000US12105,12105,Polk,Polk County,FL,Florida,06,4656518803,550424838,"POLYGON ((-82.10621 28.25923, -82.07559 28.259...",0.250454

#### Zonal Statistics for 1 in 500

In [34]:
#zonal statistics
stats1 = zonal_stats(shapefile, 
                    '../data/Floodzones/merged_1in500.tif', 
                    stats=['count', 'sum'], 
                    geojson_out=True,
                    categorical=True)

In [35]:
#extracting zonal stats only from the list
FL_ratio1 =  []

i = 0

while i < len(stats1):
    FL_ratio1.append((stats1[i]['properties']))
    i = i + 1

In [36]:
#converting the statistics and attribute data into dataframe
df1 = pd.DataFrame(FL_ratio1)
#print (df1.head())

#calculating ratio of floodzone
df1['1in500'] = df1[1]/(df1[1] + df1[0])
df1.drop([0,1,63, 'count', 'sum'],axis=1, inplace = True)
df1.head()

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,NAMELSAD,STUSPS,STATE_NAME,LSAD,ALAND,AWATER,1in100,1in500
0,12,095,00295750,0500000US12095,12095,Orange,Orange County,FL,Florida,06,2338519047,260364621,0.242544,0.307863
1,12,125,00306913,0500000US12125,12125,Union,Union County,FL,Florida,06,630804541,16049423,0.256971,0.297908
2,12,069,00308551,0500000US12069,12069,Lake,Lake County,FL,Florida,06,2464981507,531018779,0.249158,0.307366
3,12,127,00306921,0500000US12127,12127,Volusia,Volusia County,FL,Florida,06,2852382099,857613983,0.347285,0.431620
4,12,105,00295747,0500000US12105,12105,Polk,Polk County,FL,Florida,06,4656518803,550424838,0.250454,0.318173

In [37]:
#merging 1 in 500 floodzone ratio into original FL county boundary file
final_shapefile = shapefile.merge(df1[['GEOID','1in500']], on = 'GEOID', how = 'left')
final_shapefile.head()

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,NAMELSAD,STUSPS,STATE_NAME,LSAD,ALAND,AWATER,geometry,1in100,1in500
0,12,095,00295750,0500000US12095,12095,Orange,Orange County,FL,Florida,06,2338519047,260364621,"POLYGON ((-81.65856 28.74583, -81.65860 28.766...",0.242544,0.307863
1,12,125,00306913,0500000US12125,12125,Union,Union County,FL,Florida,06,630804541,16049423,"POLYGON ((-82.57599 29.99086, -82.57355 29.993...",0.256971,0.297908
2,12,069,00308551,0500000US12069,12069,Lake,Lake County,FL,Florida,06,2464981507,531018779,"POLYGON ((-81.95616 28.41358, -81.95607 28.414...",0.249158,0.307366
3,12,127,00306921,0500000US12127,12127,Volusia,Volusia County,FL,Florida,06,2852382099,857613983,"POLYGON ((-81.68090 29.32443, -81.65810 29.329...",0.347285,0.431620
4,12,105,00295747,0500000US12105,12105,Polk,Polk County,FL,Florida,06,4656518803,550424838,"POLYGON ((-82.10621 28.25923, -82.07559 28.259...",0.250454,0.318173

In [38]:
# exporting geodataframe to county shapefile
final_shapefile.to_file('../data/Floodzones/county_floodzoneratio.shp')